{% extends "/partials/_templates.html" %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap-theme.css') }}">
<style type="text/css">
  .add-padding{
    margin-bottom: 10px;
  }
  a.add-padding{
    padding:0.655rem;
  }
  .table-responsive{
    overflow-x:hidden !important;
    overflow-y:auto !important;
  }
</style>


{% endblock %}

{% block main %}
<div class="content-wrapper">
  <!-- <div class="page-header">
  </div> -->
  <div class="row">
    <div class="col-12 grid-margin">
      <ul class="nav nav-tabs-custom justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="categories" data-toggle="tab" href="#category" role="tab" aria-controls="home" aria-selected="false" onclick="updateSKU(0,4,0)">Product Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="products" data-toggle="tab" href="#variance" role="tab" aria-controls="profile" aria-selected="true" onclick="updateSKU(0,4,0)">Product Variance</a>
        </li>
      </ul>
      <div class="tab-content card">
        <div class="tab-pane fade show active" id="category" role="tabpanel" aria-labelledby="categories">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <h4 class="card-title">Product Categories</h4>
              </div>
              <div class="offset-7 col-2">
                <a class="btn btn-outline-success btn-block" href="#">+ Category</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <table id="order-listing" class="table dataTable no-footer table-dark table-striped" role="grid" aria-describedby="order-listing_info">
                          <thead>
                            <tr role="row">
                              <th>#</th>
                              <th>Category</th>
                              <th>Description</th>
                              <th>Total Product</th>
                              <th>Total SKU</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td class="sorting_1">1</td>
                              <td>2012/08/03</td>
                              <td>Edinburgh</td>
                              <td>New York</td>
                              <td>$1500</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr>
                            <tr role="row" class="even">
                              <td class="sorting_1">2</td>
                              <td>2015/04/01</td>
                              <td>Doe</td>
                              <td>Brazil</td>
                              <td>$4500</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="odd">
                              <td class="sorting_1">3</td>
                              <td>2010/11/21</td>
                              <td>Sam</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="even">
                              <td class="sorting_1">4</td>
                              <td>2016/01/12</td>
                              <td>Sam</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="odd">
                              <td class="sorting_1">5</td>
                              <td>2017/12/28</td>
                              <td>Sam</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="even">
                              <td class="sorting_1">6</td>
                              <td>2000/10/30</td>
                              <td>Sam</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="odd">
                              <td class="sorting_1">7</td>
                              <td>2011/03/11</td>
                              <td>Cris</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="even">
                              <td class="sorting_1">8</td>
                              <td>2015/06/25</td>
                              <td>Tim</td>
                              <td>Italy</td>
                              <td>$6300</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="odd">
                              <td class="sorting_1">9</td>
                              <td>2016/11/12</td>
                              <td>John</td>
                              <td>Tokyo</td>
                              <td>$2100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr><tr role="row" class="even">
                              <td class="sorting_1">10</td>
                              <td>2003/12/26</td>
                              <td>Tom</td>
                              <td>Germany</td>
                              <td>$1100</td>
                              <td>
                                <button class="btn btn-outline-primary">View</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <p class="card-description">Add new SKU category.</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label for="categoryLabel" class="col-sm-3 col-form-label">Product Category (3 digits)</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="categoryDesc" placeholder="Description">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control in-code" pattern="[a-zA-Z0-9]+" minlength="3" maxlength="3" id="categoryCode" onfocusout="updateSKU(value,1,0)" placeholder="Code">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SKU (Example)</label>
                <label class="col-sm-9 col-form-label sku-example" id="sku-example">xxx-xxxxx-xxxx</label>
              </div>
              <div class="row justify-content-end">
                <div class="offest-10 col-sm-2">
                  <button type="submit" class="btn btn-primary btn-block btn-icon-text">
                     <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="variance" role="tabpanel" aria-labelledby="products">
          <div class="card-body">
            <h4 class="card-title">Product Variance</h4>
            <p class="card-description">List of product variance per product category.</p>

            <form id="product-form" >
              <fieldset>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Category</label>
                  <div class="col-sm-4" data-select2-id="9">
                    <select class="js-example-basic-single select2-hidden-accessible" style="width:100%" data-select2-id="1" tabindex="-1" aria-hidden="true">
                      <option value="AL" data-select2-id="3">Alabama</option>
                      <option value="WY" data-select2-id="18">Wyoming</option>
                      <option value="AM" data-select2-id="19">America</option>
                      <option value="CA" data-select2-id="20">Canada</option>
                      <option value="RU" data-select2-id="21">Russia</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Product Name</label>
                  <div class="col-sm-4" data-select2-id="9">
                    <input type="text" autofill="" class="form-control add-padding" placeholder="Product Name">
                  </div>
                </div>
                <!-- <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Product</label>
                  <div class="col-sm-4" data-select2-id="10">
                    <select class="js-example-basic-single2 select2-hidden-accessible2" style="width:100%" data-select2-id="1" tabindex="-1" aria-hidden="true">
                      <option value="AL" data-select2-id="3">Alabama</option>
                      <option value="WY" data-select2-id="18">Wyoming</option>
                      <option value="AM" data-select2-id="19">America</option>
                      <option value="CA" data-select2-id="20">Canada</option>
                      <option value="RU" data-select2-id="21">Russia</option>
                    </select>
                  </div>
                </div> -->
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Varians 1 (1 digits)</label>
                  <div class="col-sm-6" id="desc1">
                  </div>
                  <div class="col-sm-2" id="code1">
                  </div>
                  <div class="col-sm-1" id="btn1">
                  </div>
                  <div class="offset-3 col-sm-9">
                    <a class="btn btn-outline-primary btn-md add-padding" id="category" onclick="addfield(1,category1)">+&nbsp&nbspAdd Variance</a>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Varians 2 (1 digits)</label>
                  <div class="col-sm-6" id="desc2">
                  </div>
                  <div class="col-sm-2" id="code2">
                  </div>
                  <div class="col-sm-1" id="btn2">
                  </div>
                  <div class="offset-3 col-sm-9">
                    <a class="btn btn-outline-primary btn-md add-padding" id="category" onclick="addfield(2,category2)">+&nbsp&nbspAdd Variance</a>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Varians 3 (1 digits)</label>
                  <div class="col-sm-6" id="desc3">
                  </div>
                  <div class="col-sm-2" id="code3">
                  </div>
                  <div class="col-sm-1" id="btn3">
                  </div>
                  <div class="offset-3 col-sm-9">
                    <a class="btn btn-outline-primary btn-md add-padding" id="category" onclick="addfield(3,category3)">+&nbsp&nbspAdd Variance</a>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Varians 4 (1 digits)</label>
                  <div class="col-sm-6" id="desc4">
                  </div>
                  <div class="col-sm-2" id="code4">
                  </div>
                  <div class="col-sm-1" id="btn4">
                  </div>
                  <div class="offset-3 col-sm-9">
                    <a class="btn btn-outline-primary btn-md add-padding" id="category" onclick="addfield(4,category4)">+&nbsp&nbspAdd Variance</a>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">SKU (Example)</label>
                  <label class="col-sm-9 col-form-label sku-example">xxx-xxxxx-xxxx</label>
                </div>
                <div class="row justify-content-end">
                  <div class="offest-10 col-sm-2">
                    <button type="button" class="btn btn-primary btn-block btn-icon-text">
                       <i class="mdi mdi-file-check btn-icon-prepend"></i>Save</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script_plugin %}

<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>

{% endblock %}


{% block script_page %}

<script src="{{ url_for('static', filename='js/data-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.js') }}"></script>

<script type="text/javascript">
  var category1 = 0;
  var category2 = 0;
  var category3 = 0;
  var category4 = 0;

  var inputCode = document.getElementsByClassName("in-code");

  function addfield(value,cat) {
    var newDesc = '<input type="text" class="form-control add-padding" id="descfield'+value+cat+'" placeholder="Description">';
    var newCode = '<input type="text" class="form-control add-padding in-code code-1" maxlength="1" id="codefield'+value+cat+'" onfocusout="updateSKU(value,3,'+(value-1)+')" placeholder="Code">';
    var newDel = '<a class="btn btn-danger btn-md add-padding btn-block" id="btnfield'+value+cat+'" onclick="delfield('+value+','+cat+')">-</a>';
    $( "#desc" + value ).append( $(newDesc) );
    $( "#code" + value ).append( $(newCode) );
    $( "#btn" + value ).append( $(newDel) );
    // addListener();
    switch(value){
      case 1: {
        category1++;
        break;
      }
      case 2: {
        category2++;
        break;
      }
      case 3: {
        category3++;
        break;
      }
      case 4: {
        category4++;
        break;
      }
    }
  }

  function delfield(value,cat) {
    document.getElementById('descfield'+value+cat).remove();
    document.getElementById('codefield'+value+cat).remove();
    document.getElementById('btnfield'+value+cat).remove();
  }

  function updateSKU(value,i,j)
  {
    let sku = document.getElementById('sku-example').textContent;
    let wr = sku;
    let sku_split = sku.split("-");

    switch(i){
      case 1: {
        if(value.length == 3){
          wr = value + "-" + sku_split[1] + "-" + sku_split[2];
        }
        break;
      }
      case 2: {

        break;
      }
      case 3: {
        if(value.length == 1){
          let code = sku_split[2].substr(0,j) + value + sku_split[2].substr(j+1);
          wr = sku_split[0] + "-" + sku_split[1] + "-" + code;
        }
        break;
      }
      case 4: {
        wr = "xxx-xxxxx-xxxx";
        break;
      }
    }
    skus = document.getElementsByClassName("sku-example");
    for (let k = 0; k < skus.length; k++) {
      skus[k].innerHTML = wr;
    }
  }

  function addListener()
  {
    inputCode = document.getElementsByClassName("in-code");
    for (let i = 0; i < inputCode.length; i++) {
      inputCode[i].addEventListener('keypress', updateSKU.bind(inputCode[i]));
    }
  }
  
</script>

{% endblock %}