<footer class="footer container">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
	  <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="https://sihawe.com/" target="_blank">Hans William</a>. All rights reserved.</span>
	  <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
	</div>
</footer>