<nav class="bottom-navbar">
  <div class="container">
    <ul class="nav page-navigation">
      <li class="nav-item menu-items active">
        <a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html">
          <i class="mdi mdi-speedometer menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/layout/rtl-layout.html">
          <i class="mdi mdi-file-restore menu-icon"></i>
          <span class="menu-title">RTL</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/widgets/widgets.html">
          <i class="mdi mdi mdi-texture menu-icon"></i>
          <span class="menu-title">Widgets</span>
        </a>
      </li>
      <!-- <li class="nav-item mega-menu menu-items">
        <a href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html#" class="nav-link">
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          <span class="menu-title">UI Elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="submenu">
          <div class="col-group-wrapper row">
            <div class="col-group col-md-4">
              <div class="row">
                <div class="col-12">
                  <p class="category-heading">Basic Elements</p>
                  <div class="submenu-item">
                    <div class="row">
                      <div class="col-md-6">
                        <ul>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/accordions.html">Accordion</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/buttons.html">Buttons</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/badges.html">Badges</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/dropdowns.html">Dropdown</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/modals.html">Modals</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/progress.html">Progress bar</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/pagination.html">Pagination</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/tabs.html">Tabs</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/typography.html">Typography</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-group col-md-4">
              <div class="row">
                <div class="col-12">
                  <p class="category-heading">Advanced Elements</p>
                  <div class="submenu-item">
                    <div class="row">
                      <div class="col-md-6">
                        <ul>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/dragula.html">Dragula</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/carousel.html">Carousel</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/clipboard.html">Clipboard</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/context-menu.html">Context Menu</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/loaders.html">Loader</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/slider.html">Slider</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/popups.html">Popup</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/ui-features/notifications.html">Notification</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-group col-md-4">
              <p class="category-heading">Icons</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/icons/flag-icons.html">Flag Icons</a></li>
                <li class="nav-item"> <a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/icons/mdi.html">Mdi icons</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/icons/font-awesome.html">Font Awesome</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/icons/simple-line-icon.html">Simple Line Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/icons/themify.html">Themify Icons</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html#" class="nav-link">
          <i class="mdi mdi-clipboard-text menu-icon"></i>
          <span class="menu-title">Forms</span>
          <i class="menu-arrow"></i></a>
        <div class="submenu">
          <ul class="submenu-item">
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/basic_elements.html">Basic Elements</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/advanced_elements.html">Advanced Elements</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/validation.html">Validation</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/wizard.html">Wizard</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/text_editor.html">Text Editor</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/forms/code_editor.html">Code Editor</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item mega-menu menu-items">
        <a href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html#" class="nav-link">
          <i class="mdi mdi-chart-bar menu-icon"></i>
          <span class="menu-title">Data</span>
          <i class="menu-arrow"></i></a>
        <div class="submenu">
          <div class="col-group-wrapper row">
            <div class="col-group col-md-6">
              <p class="category-heading">Charts</p>
              <div class="submenu-item">
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/chartjs.html">Chart Js</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/morris.html">Morris</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/flot-chart.html">Flot</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/google-charts.html">Google Chart</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/sparkline.html">Sparkline</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/c3.html">C3 Chart</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/chartist.html">Chartist</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/charts/justGage.html">JustGage</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-group col-md-3">
              <p class="category-heading">Table</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/tables/basic-table.html">Basic Table</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/tables/data-table.html">Data Table</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/tables/js-grid.html">Js-grid</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/tables/sortable-table.html">Sortable Table</a></li>
              </ul>
            </div>
            <div class="col-group col-md-3">
              <p class="category-heading">Maps</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/maps/mapael.html">Mapael</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/maps/vector-map.html">Vector Map</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/maps/google-maps.html">Google Map</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item mega-menu menu-items">
        <a href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html#" class="nav-link">
          <i class="mdi mdi-content-copy menu-icon"></i>
          <span class="menu-title">Sample Pages</span>
          <i class="menu-arrow"></i></a>
        <div class="submenu">
          <div class="col-group-wrapper row">
            <div class="col-group col-md-3">
              <p class="category-heading">User Pages</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/login-2.html">Login 2</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/register.html">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/register-2.html">Register 2</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/lock-screen.html">Lockscreen</a></li>
              </ul>
            </div>
            <div class="col-group col-md-3">
              <p class="category-heading">Error Pages</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/error-404.html">404</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/error-500.html">500</a></li>
              </ul>
            </div>
            <div class="col-group col-md-3">
              <p class="category-heading">E-commerce</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/invoice.html">Invoice</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/pricing-table.html">Pricing Table</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/orders.html">Orders</a></li>
              </ul>
            </div>
            <div class="col-group col-md-3">
              <p class="category-heading">General</p>
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/search-results.html">Search Results</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/profile.html">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/news-grid.html">News grid</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/portfolio.html">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/samples/faq.html">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li> -->
      <li class="nav-item menu-items">
        <a href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/index.html#" class="nav-link">
          <i class="mdi mdi-webpack menu-icon"></i>
          <span class="menu-title">Apps</span>
          <i class="menu-arrow"></i></a>
        <div class="submenu">
          <ul class="submenu-item">
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/apps/email.html">Email</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/apps/calendar.html">Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/apps/todo.html">Todo List</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.bootstrapdash.com/demo/corona/jquery/template/modern-horizontal/pages/apps/gallery.html">Gallery</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a href="http://www.bootstrapdash.com/demo/corona/jquery/documentation/documentation.html" class=" nav-link" target="_blank">
          <i class="mdi mdi-file-document-box menu-icon"></i>
          <span class="menu-title">Docs</span></a>
      </li>
    </ul>
  </div>
</nav>