{% extends "/partials/_templates.html" %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">

{% endblock %}


{% block main %}
<div class="content-wrapper">
	<!-- <div class="page-header">
  </div> -->
  <div class="row">
		<div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body tab-content">
          <div class="row">
            <div class="col-3">
              <h4 class="card-title">Product List</h4>
            </div>
            <div class="offset-7 col-2">
              <a class="btn btn-outline-success btn-block" href="/product/new">+ Add Product</a>
            </div>
          </div>
          <div class="table-responsive">
            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12">
                  <table id="order-listing" class="table dataTable no-footer table-dark table-striped" role="grid" aria-describedby="order-listing_info">
                    <thead>
                      <tr role="row">
                        <th>SKU</th>
                        <th>Description</th>
                        <th>Stock</th>
                        <th>Total Product</th>
                        <th>Total SKU</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td class="sorting_1">1</td>
                        <td>2012/08/03</td>
                        <td>Edinburgh</td>
                        <td>New York</td>
                        <td>$1500</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr role="row" class="even">
                        <td class="sorting_1">2</td>
                        <td>2015/04/01</td>
                        <td>Doe</td>
                        <td>Brazil</td>
                        <td>$4500</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="odd">
                        <td class="sorting_1">3</td>
                        <td>2010/11/21</td>
                        <td>Sam</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="even">
                        <td class="sorting_1">4</td>
                        <td>2016/01/12</td>
                        <td>Sam</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="odd">
                        <td class="sorting_1">5</td>
                        <td>2017/12/28</td>
                        <td>Sam</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="even">
                        <td class="sorting_1">6</td>
                        <td>2000/10/30</td>
                        <td>Sam</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="odd">
                        <td class="sorting_1">7</td>
                        <td>2011/03/11</td>
                        <td>Cris</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="even">
                        <td class="sorting_1">8</td>
                        <td>2015/06/25</td>
                        <td>Tim</td>
                        <td>Italy</td>
                        <td>$6300</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton8" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="odd">
                        <td class="sorting_1">9</td>
                        <td>2016/11/12</td>
                        <td>John</td>
                        <td>Tokyo</td>
                        <td>$2100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton9" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton9">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr><tr role="row" class="even">
                        <td class="sorting_1">10</td>
                        <td>2003/12/26</td>
                        <td>Tom</td>
                        <td>Germany</td>
                        <td>$1100</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton0" data-toggle="dropdown" aria-haspopup="true" >View</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton0">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
{% endblock %}


{% block script_plugin %}

<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>

{% endblock %}


{% block script_page %}

<script src="{{ url_for('static', filename='js/data-table.js') }}"></script>

{% endblock %}